<div class="container-fluid">



  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-6">
      <div class="form-group">
     <textarea id="editor"></textarea>
  </div>
    </div>
    <div class="col">
      


<div class="m-3 p-3 text-white bg-dark rounded shadow position-fixed">


    <h6 class=" shadow semibold pb-2 mb-0">  



    Generate Text With AI</h6>
    <div class="d-flex text-muted pt-3">

<div class="input-group mb-3">
<select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
    <option selected>Choose text length...</option>
    <option value="1">Short</option>
    <option value="2">Medium</option>
    <option value="3">Long</option>
  </select><button type="button" id="generate" class="fw-bolder px-4 py-2 btn btn-success">


 Compose</button></div>
    </div>
  </div>


    </div>
  </div>
</div>